.head{
    text-align: center;
    margin-bottom: 4rem;
}

a{
    text-align: center;
}

.contain {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 5rem;
}

#parah{
    text-align: center;
}